body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #00000;
  background-color: #ECEDF0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.app-header {
  margin-left: -100px;
  text-align: center;
}

.table,
.new-contact {
  text-align: center;
  margin: 0 auto;
  width: 800px;
}

.card,
.card-edit {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card__info,
.card-edit__info {
  border: 1px solid black;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.card__info p {
  width: 100%;
  font-size: 18px;
  margin: 0;
  padding: 10px;
}

.card__controls button,
.card-edit__controls button {
  padding: 11px;
  min-width: 100px;
  display: block;
}

.card-edit__info label {
  box-sizing: border-box;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.card-edit__info input {
  border: none;
  box-sizing: border-box;
  width: 80%;
  margin-right: 2px;
  padding: 13px;
}

.add-form {
  margin-left: -100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-contact__header {
  margin-left: -100px;
}

.add-form input {
  width: 50%;
  padding: 11px;
  margin-bottom: 10px;
}

.add-form__btn {
  margin-top: 30px;
  font-size: 21px;
  font-weight: 700;
  padding: 10px;
  width: 200px;
}
